@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

body {
    color: white;
    text-align: center;
    background: radial-gradient(circle, #034cae, #021264);
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

/* header */

header {
    margin: 9vh 0;
}

header > h1 > i {
    color: gold;
}

/* main quiz area */

.quiz-area {
    height: 60vh;
    width: 60vw;
    margin: auto;
    color: #2b2b2b;
    border: solid 1px navy;
    border-radius: 20px;
    background-color: #fafafa;
}

.quiz-area > h2 {
    padding: 10vh 5vw;
}

#username {
    display: block;
    margin: 3vh auto 0;
    height: 50px;
    width: 250px;
    padding: 5px 10px;
    border: solid 3px purple;
    text-align: center;
    font-size: 1em;
}

#empty-username {
    visibility: hidden;
    color: red;
    padding: 1vh;
}

/* controls */

#controls {
    text-align: right;
    padding-right: 21vw;
}

/* instructions */

#instructions {
    visibility: hidden;
    width: 50vw;
    height: 60vh;
    color: #2b2b2b;
    font-size: 1em;
    padding: 5vh 2.5vw;
    border: solid 5px purple;
    background: #fafafa;
    position: absolute;
    top: 20vh;
    left: 25vw;
    z-index: 1;
}

#instructions h2, p {
    padding: 0 0 2vh;
}

#instructions ul {
    text-align: left;
}

#instructions li {
    padding: 1vh 0;
}

/* footer */

footer {
    width: 100%;
    margin-top: 5vh;
}

footer a {
    font-size: 1.5em;
    padding-left: 2vw;
}

/* style for the run quiz html */

#game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3vh 0;
    font-size: 1em;
}

#question {
    padding: 5vh 5vw;
    font-size: 1.2em;
}

/* style for the end game html */

#end-game-h2 {
    padding: 10vh 0 5vh;
}

#result {
    padding-bottom: 5vh;
}

#result i {
    padding: 0 0 3vh;
    font-size: 4em;
}

.silver {
    color: #ABB0B8;
}

.gold {
    color: gold;
}

/* buttons */

.btn-green {
    height: 50px;
    width: 250px;
    color: white;
    font-size: 1em;
    background-color: green;
    border: solid 1px black;
    margin-top: 2vh;
}

.btn-green:hover {
    box-shadow: 3px 3px black;
}

.btn-answer {
    height: 6vh;
    width: 60%;
    font-size: 1em;
    text-align: left;
    padding: 3px 20px;
    margin: 2px auto;
    border: solid 1px black;
    background-color: #dbdbdb;
    transition: all 0.3s;
}

.btn-answer:hover {
    background-color: gold;
}

.btn-green-medium {
    height: 4vh;
    width: 30%;
    padding: 2px;
    margin-top: 1vh;
    color: white;
    font-size: 1em;
    background-color: green;
    border: solid 1px black;
}

.btn-green-medium:hover {
    box-shadow: 3px 3px black;
}

.btn-controls {
    font-size: 1em;
    color: white;
    background: purple;
    border: solid 2px black;
    padding: 0.3vh 2vw;
}

.btn-controls:hover {
    color: purple;
    background: white;
    box-shadow: 3px 3px black;
}

#instructions-close {
    position: absolute;
    top: 4px;
    right: 4px;
}

/* Large to medium screen sizes */

@media screen and (max-width: 1200px) {
    
    #instructions {
        width: 60vw;
        height: 65vh;
        top: 15vh;
        left: 20vw;
    }

}

/* Medium to small screen sizes */
@media screen and (max-width: 900px) {

    .quiz-area {
        width: 70vw;
    }
    
    #instructions {
        width: 70vw;
        left: 15vw;
        overflow: auto;
    }

    .btn-answer {
        width: 70%;
    }

}

/* Smaller screen sizes */
@media screen and (max-width: 600px) {

    header {
        margin: 5vh 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    .quiz-area {
        height: 65vh;
        width: 95vw;
        overflow: auto;
    }

    .quiz-area h2 {
        padding: 7vh 5vw;
    }

    #question {
        padding: 2vh 3vw;
    }

    #controls {
        text-align: center;
        padding: 0;
    }

    #instructions {
        width: 95vw;
        height: 75vh;
        top: 2.5vh;
        left: 2.5vw;
        overflow: auto;
    }

    #instructions ul {
        padding: 0 2vw;
    }

    #instructions-close {
        position: fixed;
        top: 4px;
        right: 4px;
    }

    footer {
        margin-top: 2vh;
    }

    #end-game-h2 {
        padding: 6vh 0;
    }

    #result {
        padding: 0;
    }
    
    #result h2 {
        padding: 3vh 0;
        font-size: 1.2em;
    }

    .btn-controls {
        min-width: 30vw;
        height: 35px;
    }

    .btn-answer {
        height: 45px;
        width: 95%;
        padding: 3px 10px;
    }

    .btn-green-medium {
        height: 6vh;
        width: 80%;
        margin-top: 0.5vh;
    }

}

/* Small screen heights bellow 600px high */

@media screen and (max-height: 600px) {

    .quiz-area {
        height: 390px;
    }
    
}